name: Go

on:
  push:
    branches: [ "master" ]
  pull_request: 
    branches: [ "master" ]

jobs:
  build: 
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # Linux AMD64
          - goos: linux
            goarch:  amd64
            output: wireguard-go-linux-amd64
          
          # Linux ARM64 (aarch64)
          - goos: linux
            goarch: arm64
            output: wireguard-go-linux-arm64
          
          # Linux ARMv7
          - goos: linux
            goarch: arm
            goarm: 7
            output:  wireguard-go-linux-armv7
    
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with: 
        go-version-file: 'go.mod'

    - name: Build
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix. goarch }}
        GOARM: ${{ matrix.goarm }}
      run: go build -v -o ${{ matrix. output }}

    - name: Test (AMD64 only)
      if: matrix.goarch == 'amd64'
      run: go test -v ./...

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.output }}
        path: ${{ matrix.output }}
